nav {
  height: 120px;
  background: #383e56;
  font-family: 'Bungee', cursive;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav > span {
  margin-top: 1rem;
  font-size: 2rem;
  margin-left: 1.5em;
  color: aqua;
}

nav > div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 6.5rem;
}

.fa-angle-double-down {
  color: #ee3c20;
}

.fa-angle-double-down:hover {
  cursor: pointer;
}

.sideTitle {
  color: #fff;
  position: absolute;
  right: 0;
  margin: 0 3rem 0.5rem 0;
  font-size: 20px;
}

.sideTitle:hover {
  cursor: pointer;
}

.sideTitle strong {
  font-family: Arial, Helvetica, sans-serif;
}

.sideTitle span {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.hiddenOne {
  visibility: hidden;
}
