.new-tweet {
  width: 98%;
  height: 180px;
  margin: 2rem auto 0;
  position: relative;
  display: none;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 0.3rem;
}

#tweet-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid;
  background: transparent;
  outline: none;
  width: 100%;
  resize: none;
  height: 3rem;
}

.subBtn {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  width: 98%;
  margin: 1rem auto 1rem;
}

.subBtn button {
  color: #fff;
  background: #4056a1;
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 20px;
}

.subBtn button:hover {
  cursor: pointer;
  font-size: 25px;
}
