@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  nav {
    height: 100px;
  }

  .mainHeader {
    width: 25vw;
    height: 40vh;
    top: 8rem;
    left: 2rem;
    right: 2rem;
    position: fixed;
    border-radius: 5px;
  }
  .mainHeader img {
    width: 200px;
    height: 200px;
  }
  .container {
    width: 60%;
    margin-right: 2rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .mainHeader {
    height: 300px;
  }
  .mainHeader img {
    width: 180px;
    height: 180px;
  }

  .new-tweet label {
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .mainHeader {
    height: 260px;
  }
  nav {
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav > span {
    margin: 0;
    font-size: 1.5rem;
  }

  nav > div {
    margin: 1rem 0 0;
  }

  .container h2 {
    font-size: 15px;
  }

#tweets-container {
  margin-top: 1.5rem;
}

.tweet {
  height: 400px;
}

.faceName {
	flex-direction: column;
}

.tweet img {
  margin-right: .5rem;
}

.tweet p {
  margin: 0 .5rem;
}

.tweet footer {
	flex-direction: column;
	align-items: center;
  justify-content: space-around;
}

.timePassed {
  font-size: 20px;
}

}
